<footer class="page-footer col-12 border">
    <div class="opening-hours col-12 mt-2">
        <h6 class="text-center">Opening Hours: 8am - 4pm</h6>
    </div>
    <div class="footer-rest row col-12 mx-0">
        <div class="col-12 col-md-3 text-center faq">
            <div class="mt-5">
                <a class="" href="">FAQs</a>
            </div>
        </div>
        <div class="col-12 col-md-5 contact">
            <ul class=" mt-5">
                <li class="ul-title">Contact Us</li>
                <li>Facebook</li>
                <li>Gmail</li>
                <li>Whatsapp</li>
            </ul>
        </div>
        <div class="col-12 col-md-4 address">
            <ul class="mt-5">
                <li class="ul-title">Address</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores porro ex maxime quis
                    nulla repellat sunt</li>
                <li>Phone: +25246337</li>
                <li>Mobile:+24447834437</li>
            </ul>
        </div>
    </div>
</footer>
