<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-light bg-light col-12">
            <a class="navbar-brand" href="#">SIMS</a>
        </nav>
        <div class="col-12 border quiz-full px-0">
            <div class="quiz-title text-center pt-3">
                <h2 class="">Placement Test A1</h2>
            </div>
            <div class="quiz-image">
                <img src="../../assets/Images/quiz-example-image.jpg" alt="">
            </div>
            <div class="quiz-number text-center">
                <h3 class="mt-3">5 / 30</h3>
            </div>
            <!-- <button class="btn btn-success" (click)="createComponent()">Create</button>
            <button class="btn btn-danger" (click)="destroyComponent()">Destroy</button> -->
            <template #quizViewContainer></template>
            <!-- <app-quiz-view-select></app-quiz-view-select> -->
            <div class="col-12 submit-btn text-center my-3">
                <button class="btn btn-primary col-2">Next</button>
            </div>
        </div>
    </div>
</div>