<div class="col-12 px-0 tab-full mt-2">
    <div class="col-12 tab-header text-center pt-5">
        <h3 class="">German Language</h3>
    </div>
    <div class="col-12 tab-more-info">
        <div class="col-11 mx-auto row mx-0 pt-3">
            <div class="col-12 col-md-5 info-box mx-auto mt-3">
                <div class="col-12 info-title">
                    <h6 class="mt-2">The Language</h6>
                </div>
                <div class="col-12 info-content scroller">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit animi qui nemo quibusdam quos, alias ab ullam nostrum maiores minus consequuntur aspernatur commodi quia.</p>
                </div>
                <div class="col-12 info-learn-more">
                    <a class="px-2 py-1" href="">learn more</a>
                </div>
            </div>
            <div class="col-12 col-md-5 info-box mx-auto mt-3">
                <div class="col-12 info-title">
                    <h6 class="mt-2">The Language</h6>
                </div>
                <div class="col-12 info-content scroller">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit animi qui nemo quibusdam quos, alias ab ullam nostrum maiores minus consequuntur aspernatur commodi quia.</p>
                </div>
                <div class="col-12 info-learn-more">
                    <a class="px-2 py-1" href="">learn more</a>
                </div>
            </div>
            <div class="col-12 col-md-5 info-box mx-auto mt-3">
                <div class="col-12 info-title">
                    <h6 class="mt-2">The Language</h6>
                </div>
                <div class="col-12 info-content scroller">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit animi qui nemo quibusdam quos, alias ab ullam nostrum maiores minus consequuntur aspernatur commodi quia.</p>
                </div>
                <div class="col-12 info-learn-more">
                    <a class="px-2 py-1" href="">learn more</a>
                </div>
            </div>
            <div class="col-12 col-md-5 info-box mx-auto mt-3">
                <div class="col-12 info-title">
                    <h6 class="mt-2">The Language</h6>
                </div>
                <div class="col-12 info-content scroller">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit animi qui nemo quibusdam quos, alias ab ullam nostrum maiores minus consequuntur aspernatur commodi quia.</p>
                </div>
                <div class="col-12 info-learn-more">
                    <a class="px-2 py-1" href="">learn more</a>
                </div>
            </div>
            <div class="col-12 col-md-5 info-box mx-auto mt-3">
                <div class="col-12 info-title">
                    <h6 class="mt-2">The Language</h6>
                </div>
                <div class="col-12 info-content scroller">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit animi qui nemo quibusdam quos, alias ab ullam nostrum maiores minus consequuntur aspernatur commodi quia.</p>
                </div>
                <div class="col-12 info-learn-more">
                    <a class="px-2 py-1" href="">learn more</a>
                </div>
            </div>
            <div class="col-12 col-md-5 info-box mx-auto mt-3 mb-2">
                <div class="col-12 info-title">
                    <h6 class="mt-2">The Language</h6>
                </div>
                <div class="col-12 info-content scroller">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit animi qui nemo quibusdam quos, alias ab ullam nostrum maiores minus consequuntur aspernatur commodi quia.</p>
                </div>
                <div class="col-12 info-learn-more">
                    <a class="px-2 py-1" href="">learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>