<div class="container-fluid">
    <div class="row">
        <div class="col-12 q-dash-full px-0">
            <div class="col-12 q-dash-image">
                <div class="q-dash-image-words text-center">
                    <h1 class="mb-5">Placement Test</h1>
                    <p>How good is your German? Take the test!</p>
                </div>
            </div>
            <div class="q-dash-levels col-12 col-md-9 mt-3 mx-auto row mx-0">
                <div class="col mx-2 indiv-level level-a1 px-0" routerLink='/quiz/'>
                    <div class="col-12 level-holder">
                        <h1 class="actual-level">A1</h1>
                        <h4>Placement Test A1</h4>
                    </div>
                    <div class="col-12 level-desc">
                        <p class="mt-3"> You can use simple phrases and sentences to exchange basic personal information
                            such as where you live and what your hobbies are.</p>
                    </div>
                </div>
                <div class="col mx-2 indiv-level level-a2 px-0" routerLink='/quiz'>
                    <div class="col-12 level-holder">
                        <h1 class="actual-level">A2</h1>
                        <h4>Placement Test A1</h4>
                    </div>
                    <div class="col-12 level-desc">
                        <p class="mt-3">  You can communicate on important basic topics and say what you would like,
                             for example while shopping.</p>
                    </div>
                </div>
                <div class="col mx-2 indiv-level level-b1 px-0" routerLink='/quiz'>
                    <div class="col-12 level-holder">
                        <h1 class="actual-level">B1</h1>
                        <h4>Placement Test A1</h4>
                    </div>
                    <div class="col-12 level-desc">
                        <p class="mt-3"> Du kannst die meisten Situationen, die dir in Deutschland begegnen, meistern.
                             Du kannst über die Dinge sprechen, die geschehen sind, und deine Meinungen erklären.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>