<div class="quiz-body col-12 col-md-8 mx-auto mt-3 border">
    <h4>Question 1</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam harum maxime,
        rerum ipsum doloremque architecto?
        Quaerat quidem amet dolorem tempore numquam nam quis omnis.</p>
    <div class="col-12 quiz-actual row mx-0">
        <div class="col quiz-instructions">
            <div class="bg-primary mt-4 px-3">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                <i class="fa fas fa-volume-up fa-lg ml-3"></i>
            </div>
        </div>
        <div class="col quiz-options mt-4">
            <div class="col-12 mb-1 option text-center pt-3">
                06.30 – 09.30 Uhr
            </div>
            <div class="col-12 mb-1 option text-center pt-3">
                07.30 – 09.30 Uhr
            </div>
            <div class="col-12 mb-1 option text-center pt-3">
                07.30 – 10.30 Uhr
            </div>
        </div>
    </div>
</div>