.quiz-body {
  .quiz-actual {
    min-height: 40vh;
    .quiz-instructions {
      .bg-primary {
        color: white;
        border-radius: 5px;
      }
    }
    .quiz-options {
      .option {
        min-height: 8vh;
        background: #f4f3f1;
        color: black;
        border-radius: 5px;
        cursor: pointer;
        &:active {
          background: #82b905;
          color: white;
        }
      }
    }
  }
}
