.container-fluid {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(../../assets/Images/index-bg.jpeg);
    background-position: center;
    background-size: cover;
}
.index-links{
    height: 15vh;
    margin-top: 35vh;
}
.index-links{
    .link{
        h3{
            color: white;
            font-weight: bold;
            &:hover{
                animation: scaleUp .2s linear forwards;
                text-decoration: underline;
                cursor: pointer;
            }
            &:focus{
                outline: none;
            }
        }
    }
}
@keyframes scaleUp {
    0%   {transform: scale(1);}
    100% {transform: scale(1.05);}
  }