<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <app-search-navbar></app-search-navbar>
            <div class="col-12 profile-full row mx-0">
                <div class="col-12 col-md mx-2 data-con mt-4 scroller">
                    <div class="user-image mt-4 mx-auto" (click)="showUploadForm()" (mouseenter)='showCog()'
                        (mouseleave)='hideCog()'>
                        <img src="{{ result.avatar }}" alt="">
                        <!-- <ng-template #defaultImage>
                            <img class="default-image" src="../../assets/images/default.jfif" alt="">
                        </ng-template> -->
                        <div #overlay class="overlay text-center d-none">
                            <i class="fa fas fa-cog fa-3x"></i>
                        </div>
                    </div>
                    <div class="row">
                        <form [formGroup]="uploadImageForm" #uploadImageFormElement action=""
                            class="upload-image-form col-11 mt-3 mx-auto d-none">
                            <div class="input-group mb-3">
                                <!-- <label for="upload-image">Test</label> -->
                                <input id="upload-image" (change)="getImage($event.target.files)"
                                    formControlName="avatar" type="file" class="form-control" accept="image/*">
                                <div class="input-group-append">
                                    <button (click)="uploadImage()" type="submit" class="btn btn-outline-secondary"
                                        type="button" id="button-addon2">
                                        <span #uploadspan>Upload</span>
                                        <div class="d-none default-spinner spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="indiv-data col-12 mb-2 col-12">
                            <h4 class="text-center mt-3" *ngIf="result !== ''; else defaultLoading">
                                {{ result.first_name }} {{ result.last_name }}</h4>
                            <ng-template #defaultLoading>
                                <h4 class="text-center">Loading...</h4>
                            </ng-template>
                        </div>
                        <div class="indiv-data col-12 col-md-6 mb-2 col-12">
                            <p class="bold mb-0">User ID</p>
                            <span *ngIf="result !== ''; else defaultLoading">{{ result.id }}</span>
                            <ng-template #defaultLoading>Loading...</ng-template>
                        </div>
                        <div class="indiv-data col-12 col-md-6 mb-2 col-12">
                            <p class="bold mb-0">Email</p>
                            <span *ngIf="result !== ''; else defaultLoading">{{ result.email }}</span>
                            <ng-template #defaultLoading>Loading...</ng-template>
                        </div>
                        <div class="indiv-data col-12 col-md-6 mb-2 col-12">
                            <p class="bold mb-0">Date of Birth</p>
                            <span *ngIf="result !== ''; else defaultLoading">{{ result.dob }}</span>
                            <ng-template #defaultLoading>Loading...</ng-template>
                        </div>
                        <div class="indiv-data col-12 col-md-6 mb-2 col-12">
                            <p class="bold mb-0">Place of Birth</p>
                            <span *ngIf="result !== ''; else defaultLoading">{{ result.pob }}</span>
                            <ng-template #defaultLoading>Loading...</ng-template>
                        </div>
                        <div class="indiv-data col-12 col-md-6 mb-2 col-12">
                            <p class="bold mb-0">LGA</p>
                            <span *ngIf="result !== ''; else defaultLoading">{{ result.lga }}</span>
                            <ng-template #defaultLoading>Loading...</ng-template>
                        </div>
                        <div class="indiv-data col-12 col-md-6 mb-2 col-12">
                            <p class="bold mb-0">State</p>
                            <span *ngIf="result !== ''; else defaultLoading">{{ result.state }}</span>
                            <ng-template #defaultLoading>Loading...</ng-template>
                        </div>
                        <div class="indiv-data col-12 col-md-6 mb-2 col-12">
                            <p class="bold mb-0">Phone</p>
                            <span *ngIf="result !== ''; else defaultLoading">{{ result.phone }}</span>
                            <ng-template #defaultLoading>Loading...</ng-template>
                        </div>
                        <div class="indiv-data col-12 col-md-6 mb-2 col-12">
                            <p class="bold mb-0">Gender</p>
                            <span *ngIf="result !== ''; else defaultLoading">{{ result.gender }}</span>
                            <ng-template #defaultLoading>Loading...</ng-template>
                        </div>
                        <div class="indiv-data col-12 col-md-6 mb-2 col-12">
                            <p class="bold mb-0">Address</p>
                            <span *ngIf="result !== ''; else defaultLoading">{{ result.address }}</span>
                            <ng-template #defaultLoading>Loading...</ng-template>
                        </div>
                        <div class="indiv-data col-12 col-md-6 mb-2 col-12">
                            <p class="bold mb-0">Occupation</p>
                            <span *ngIf="result !== ''; else defaultLoading">{{ result.occupation }}</span>
                            <ng-template #defaultLoading>Loading...</ng-template>
                        </div>
                        <div class="indiv-data col-12 col-md-6 mb-2 col-12">
                            <p class="bold mb-0">Nationality</p>
                            <span *ngIf="result !== ''; else defaultLoading">{{ result.nationality }}</span>
                            <ng-template #defaultLoading>Loading...</ng-template>
                        </div>
                        <div class="indiv-data col-12 col-md-6 mb-2 col-12">
                            <p class="bold mb-0">Marital Status</p>
                            <span *ngIf="result !== ''; else defaultLoading">{{ result.marital_status }}</span>
                            <ng-template #defaultLoading>Loading...</ng-template>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md mx-2 edit-information scroller mt-4">
                    <form [formGroup]="editInformationForm" (ngSubmit)="editUser()">
                        <h4 class="text-center my-4">Edit Information</h4>
                        <div class="form-group">
                            <label for="">First Name</label>
                            <input type="text" name="first_name" formControlName="first_name" class="form-control"
                                placeholder="" value="{{ result.first_name }}">
                        </div>
                        <div class="form-group">
                            <label for="">Last Name</label>
                            <input type="text" name="last_name" formControlName="last_name" class="form-control"
                                placeholder="" value="{{ result.last_name }}">
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" name="email" formControlName="email" class="form-control" placeholder=""
                                value="{{ result.email }}">
                        </div>
                        <div class="form-group">
                            <label for="">Date of Birth</label>
                            <input type="date" name="dob" formControlName="dob" class="form-control" placeholder=""
                                value="{{ result.dob }}">
                        </div>
                        <div class="form-group">
                            <label for="">Address</label>
                            <input type="text" name="address" formControlName="address" class="form-control"
                                placeholder="" value="{{ result.address }}">
                        </div>
                        <div class="form-group">
                            <label for="">State</label>
                            <input type="text" name="state" formControlName="state" class="form-control" placeholder=""
                                value="{{ result.state }}">
                        </div>
                        <div class="form-group">
                            <label for="">LGA</label>
                            <input type="text" name="lga" formControlName="lga" class="form-control" placeholder=""
                                value="{{ result.lga }}">
                        </div>
                        <div class="form-group">
                            <label for="">Place of Birth</label>
                            <input type="text" name="pob" formControlName="pob" class="form-control" placeholder=""
                                value="{{ result.pob }}">
                        </div>
                        <div class="form-group">
                            <label for="">Phone Number</label>
                            <input type="tel" name="phone" formControlName="phone" class="form-control" placeholder=""
                                value="{{ result.phone }}">
                        </div>
                        <div class="form-group">
                            <label class="mt-2" for="gender">Gender</label>
                            <select id="gender" name="gender" formControlName="gender" class="custom-select"
                                value="{{ result.gender }}">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <!-- <div class="form-group">
                                    <label class="mt-2" for="level">Level of Education</label>
                                    <select id="level" name="level" FormControlName="level" class="custom-select">
                                        <option value="">---</option>
                                        <option value="">Some high school, No diploma</option>
                                        <option value="">High school diploma</option>
                                        <option value="">Some College, No degree</option>
                                        <option value="">Associate degree</option>
                                        <option value="">Bachelor degree</option>
                                        <option value="">Masters degree</option>
                                        <option value="">Doctorate degree</option>
                                    </select>
                                </div> -->
                        <div class="form-group">
                            <label class="mt-2" for="occupation">Occupation</label>
                            <input type="text" name="occupation" formControlName="occupation" class="form-control"
                                placeholder="" value="{{ result.occupation }}">
                        </div>
                        <div class="form-group">
                            <label class="mt-2" for="nationality">Nationality</label>
                            <select id="nationality" name="nationality" formControlName="nationality"
                                class="custom-select" value="{{ result.nationality }}">
                                <option value="">-- select one --</option>
                                <option value="afghan">Afghan</option>
                                <option value="albanian">Albanian</option>
                                <option value="algerian">Algerian</option>
                                <option value="american">American</option>
                                <option value="andorran">Andorran</option>
                                <option value="angolan">Angolan</option>
                                <option value="antiguans">Antiguans</option>
                                <option value="argentinean">Argentinean</option>
                                <option value="armenian">Armenian</option>
                                <option value="australian">Australian</option>
                                <option value="austrian">Austrian</option>
                                <option value="azerbaijani">Azerbaijani</option>
                                <option value="bahamian">Bahamian</option>
                                <option value="bahraini">Bahraini</option>
                                <option value="bangladeshi">Bangladeshi</option>
                                <option value="barbadian">Barbadian</option>
                                <option value="barbudans">Barbudans</option>
                                <option value="batswana">Batswana</option>
                                <option value="belarusian">Belarusian</option>
                                <option value="belgian">Belgian</option>
                                <option value="belizean">Belizean</option>
                                <option value="beninese">Beninese</option>
                                <option value="bhutanese">Bhutanese</option>
                                <option value="bolivian">Bolivian</option>
                                <option value="bosnian">Bosnian</option>
                                <option value="brazilian">Brazilian</option>
                                <option value="british">British</option>
                                <option value="bruneian">Bruneian</option>
                                <option value="bulgarian">Bulgarian</option>
                                <option value="burkinabe">Burkinabe</option>
                                <option value="burmese">Burmese</option>
                                <option value="burundian">Burundian</option>
                                <option value="cambodian">Cambodian</option>
                                <option value="cameroonian">Cameroonian</option>
                                <option value="canadian">Canadian</option>
                                <option value="cape verdean">Cape Verdean</option>
                                <option value="central african">Central African</option>
                                <option value="chadian">Chadian</option>
                                <option value="chilean">Chilean</option>
                                <option value="chinese">Chinese</option>
                                <option value="colombian">Colombian</option>
                                <option value="comoran">Comoran</option>
                                <option value="congolese">Congolese</option>
                                <option value="costa rican">Costa Rican</option>
                                <option value="croatian">Croatian</option>
                                <option value="cuban">Cuban</option>
                                <option value="cypriot">Cypriot</option>
                                <option value="czech">Czech</option>
                                <option value="danish">Danish</option>
                                <option value="djibouti">Djibouti</option>
                                <option value="dominican">Dominican</option>
                                <option value="dutch">Dutch</option>
                                <option value="east timorese">East Timorese</option>
                                <option value="ecuadorean">Ecuadorean</option>
                                <option value="egyptian">Egyptian</option>
                                <option value="emirian">Emirian</option>
                                <option value="equatorial guinean">Equatorial Guinean</option>
                                <option value="eritrean">Eritrean</option>
                                <option value="estonian">Estonian</option>
                                <option value="ethiopian">Ethiopian</option>
                                <option value="fijian">Fijian</option>
                                <option value="filipino">Filipino</option>
                                <option value="finnish">Finnish</option>
                                <option value="french">French</option>
                                <option value="gabonese">Gabonese</option>
                                <option value="gambian">Gambian</option>
                                <option value="georgian">Georgian</option>
                                <option value="german">German</option>
                                <option value="ghanaian">Ghanaian</option>
                                <option value="greek">Greek</option>
                                <option value="grenadian">Grenadian</option>
                                <option value="guatemalan">Guatemalan</option>
                                <option value="guinea-bissauan">Guinea-Bissauan</option>
                                <option value="guinean">Guinean</option>
                                <option value="guyanese">Guyanese</option>
                                <option value="haitian">Haitian</option>
                                <option value="herzegovinian">Herzegovinian</option>
                                <option value="honduran">Honduran</option>
                                <option value="hungarian">Hungarian</option>
                                <option value="icelander">Icelander</option>
                                <option value="indian">Indian</option>
                                <option value="indonesian">Indonesian</option>
                                <option value="iranian">Iranian</option>
                                <option value="iraqi">Iraqi</option>
                                <option value="irish">Irish</option>
                                <option value="israeli">Israeli</option>
                                <option value="italian">Italian</option>
                                <option value="ivorian">Ivorian</option>
                                <option value="jamaican">Jamaican</option>
                                <option value="japanese">Japanese</option>
                                <option value="jordanian">Jordanian</option>
                                <option value="kazakhstani">Kazakhstani</option>
                                <option value="kenyan">Kenyan</option>
                                <option value="kittian and nevisian">Kittian and Nevisian</option>
                                <option value="kuwaiti">Kuwaiti</option>
                                <option value="kyrgyz">Kyrgyz</option>
                                <option value="laotian">Laotian</option>
                                <option value="latvian">Latvian</option>
                                <option value="lebanese">Lebanese</option>
                                <option value="liberian">Liberian</option>
                                <option value="libyan">Libyan</option>
                                <option value="liechtensteiner">Liechtensteiner</option>
                                <option value="lithuanian">Lithuanian</option>
                                <option value="luxembourger">Luxembourger</option>
                                <option value="macedonian">Macedonian</option>
                                <option value="malagasy">Malagasy</option>
                                <option value="malawian">Malawian</option>
                                <option value="malaysian">Malaysian</option>
                                <option value="maldivan">Maldivan</option>
                                <option value="malian">Malian</option>
                                <option value="maltese">Maltese</option>
                                <option value="marshallese">Marshallese</option>
                                <option value="mauritanian">Mauritanian</option>
                                <option value="mauritian">Mauritian</option>
                                <option value="mexican">Mexican</option>
                                <option value="micronesian">Micronesian</option>
                                <option value="moldovan">Moldovan</option>
                                <option value="monacan">Monacan</option>
                                <option value="mongolian">Mongolian</option>
                                <option value="moroccan">Moroccan</option>
                                <option value="mosotho">Mosotho</option>
                                <option value="motswana">Motswana</option>
                                <option value="mozambican">Mozambican</option>
                                <option value="namibian">Namibian</option>
                                <option value="nauruan">Nauruan</option>
                                <option value="nepalese">Nepalese</option>
                                <option value="new zealander">New Zealander</option>
                                <option value="ni-vanuatu">Ni-Vanuatu</option>
                                <option value="nicaraguan">Nicaraguan</option>
                                <option value="nigerian">Nigerian</option>
                                <option value="north korean">North Korean</option>
                                <option value="northern irish">Northern Irish</option>
                                <option value="norwegian">Norwegian</option>
                                <option value="omani">Omani</option>
                                <option value="pakistani">Pakistani</option>
                                <option value="palauan">Palauan</option>
                                <option value="panamanian">Panamanian</option>
                                <option value="papua new guinean">Papua New Guinean</option>
                                <option value="paraguayan">Paraguayan</option>
                                <option value="peruvian">Peruvian</option>
                                <option value="polish">Polish</option>
                                <option value="portuguese">Portuguese</option>
                                <option value="qatari">Qatari</option>
                                <option value="romanian">Romanian</option>
                                <option value="russian">Russian</option>
                                <option value="rwandan">Rwandan</option>
                                <option value="saint lucian">Saint Lucian</option>
                                <option value="salvadoran">Salvadoran</option>
                                <option value="samoan">Samoan</option>
                                <option value="san marinese">San Marinese</option>
                                <option value="sao tomean">Sao Tomean</option>
                                <option value="saudi">Saudi</option>
                                <option value="scottish">Scottish</option>
                                <option value="senegalese">Senegalese</option>
                                <option value="serbian">Serbian</option>
                                <option value="seychellois">Seychellois</option>
                                <option value="sierra leonean">Sierra Leonean</option>
                                <option value="singaporean">Singaporean</option>
                                <option value="slovakian">Slovakian</option>
                                <option value="slovenian">Slovenian</option>
                                <option value="solomon islander">Solomon Islander</option>
                                <option value="somali">Somali</option>
                                <option value="south african">South African</option>
                                <option value="south korean">South Korean</option>
                                <option value="spanish">Spanish</option>
                                <option value="sri lankan">Sri Lankan</option>
                                <option value="sudanese">Sudanese</option>
                                <option value="surinamer">Surinamer</option>
                                <option value="swazi">Swazi</option>
                                <option value="swedish">Swedish</option>
                                <option value="swiss">Swiss</option>
                                <option value="syrian">Syrian</option>
                                <option value="taiwanese">Taiwanese</option>
                                <option value="tajik">Tajik</option>
                                <option value="tanzanian">Tanzanian</option>
                                <option value="thai">Thai</option>
                                <option value="togolese">Togolese</option>
                                <option value="tongan">Tongan</option>
                                <option value="trinidadian or tobagonian">Trinidadian or Tobagonian
                                </option>
                                <option value="tunisian">Tunisian</option>
                                <option value="turkish">Turkish</option>
                                <option value="tuvaluan">Tuvaluan</option>
                                <option value="ugandan">Ugandan</option>
                                <option value="ukrainian">Ukrainian</option>
                                <option value="uruguayan">Uruguayan</option>
                                <option value="uzbekistani">Uzbekistani</option>
                                <option value="venezuelan">Venezuelan</option>
                                <option value="vietnamese">Vietnamese</option>
                                <option value="welsh">Welsh</option>
                                <option value="yemenite">Yemenite</option>
                                <option value="zambian">Zambian</option>
                                <option value="zimbabwean">Zimbabwean</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="mt-2" for="level">Marital Status</label>
                            <select id="m-status" name="marital_status" formControlName="marital_status"
                                class="custom-select" value="{{ result.marital_status }}">
                                <option value="">---</option>
                                <option value="single">Single</option>
                                <option value="married">Married</option>
                                <option value="widowed">Widowed</option>
                                <option value="separated">Separated</option>
                            </select>
                        </div>
                        <button type="submit" class="btn col-12 mb-5">
                            <span #submitspan>Edit</span>
                            <div class="d-none default-spinner spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </form>
                </div>
                <div class="col-12 col-md mx-2 edit-password my-4">
                    <form class="mb-5" [formGroup]="editPasswordForm" (ngSubmit)="editPassword()">
                        <h4 class="text-center my-4">Edit Password</h4>
                        <div class="form-group">
                            <label for="">Current Password</label>
                            <input type="password" formControlName="current_password" class="form-control"
                                placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="">New Password</label>
                            <input type="password" formControlName="password" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="">Confirm Password</label>
                            <input type="password" formControlName="password_confirmation" class="form-control"
                                placeholder="">
                        </div>
                        <button type="submit" class="btn col-12">
                            <span #submitpasswordspan>Edit</span>
                            <div class="default-spinner d-none spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <app-alert-modal [responseState]="responseState" [responseData]="responseData"></app-alert-modal>
</div>