<div class="container-fluid">
    <div class="row">
        <div class="col-12 border forgot-full">
            <div class="col-12 col-md-6 forgot-form-con border mx-auto">
                <h4 class="text-center mt-5">Forgot Password</h4>
                <form class="col-10 mx-auto mt-5" [formGroup]="forgotForm">
                    <div class="form-group">
                        <input type="email" formControlName="email" class="form-control" placeholder="Email">
                        <small>Please enter the last email you remember in the field above</small>
                    </div>
                    <button type="submit" class="btn btn-secondary col-12 mt-4" (click)="submitForm()">
                        <span #loginspan>Go</span>
                        <div #spinner class="d-none spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </button>
                </form>
                <app-alert-modal [responseState]="responseState" [responseData]="responseData"></app-alert-modal>
            </div>
        </div>
    </div>
</div>