.forgot-full {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  .forgot-form-con {
    min-height: 60vh;
    border-radius: 10px;
    margin-top: 20vh;
    form {
      input {
        border: none;
        border-bottom: 1px solid lightgrey;
        border-radius: 0px;
        &:active,
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
