.quiz-body {
  background: #F4F3F1;
  .quiz-actual {
    min-height: 40vh;
    .quiz-instructions {
      .bg-primary {
        color: white;
        border-radius: 5px;
      }
    }
    .quiz-options {
      .box-to-fill {
          min-height: 20vh;
      }
      .options-to-click {
        .option {
          border-radius: 5px;
          background: #3E3E3E;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
